# Secrets
VIRK_USERNAME = "username provided by CVR office"
VIRK_PASSWORD = "password provided by CVR office"

# Storage
RAW_VIRKSOMHED_FOLDER_PATH = "<your local directory path>/CVR_data/raw_virksomhed"
PROC_VIRKSOMHED_FOLDER_PATH = "<your local directory path>/CVR_data/proc_virksomhed"
FS_FOLDER_PATH = "<your  local directory path>/CVR_data/offentliggoerelser" # Financial statements
EFS_FOLDER_PATH = "<your local directory path>/CVR_data/expanded_financial_statements" # Extended FS

# Project home path
PROJECT_HOME_PATH = "<your local directory path>/CVR_data"
UTILS_FOLDER = "<your local directory path>/CVR_data/utils"
