# Secrets
VIRK_USERNAME = "username provided by CVR office"
VIRK_PASSWORD = "password provided by CVR office"

# Storage
RAW_VIRKSOMHED_FOLDER_PATH = "<your local directory path>/CVR_data/raw_virksomhed"
PROC_VIRKSOMHED_FOLDER_PATH = "<your local directory path>/CVR_data/proc_virksomhed"
FS_FOLDER_PATH = "<your  local directory path>/CVR_data/offentliggoerelser"            # Financial statements
EFS_FOLDER_PATH = "<your local directory path>/CVR_data/expanded_financial_statements" # Extended FS

# Project home path
PROJECT_HOME_PATH = "<your local directory path>/CVR_data"
UTILS_FOLDER = "<your local directory path>/CVR_data/utils"

# Only for S3 object storage (not needed for direct downloads)
S3_ENDPOINT_URL = "<https://s3.storage_website.com>"
S3_BUCKET = "cvr-data"
S3_VIRKSOMHED_PREFIX = "virksomhed"            # must match <prefix>/<table>_<year>.parquet
S3_REGION = "dc1"                              # must match the bucket region
AWS_ACCESS_KEY_ID = "bucket access key id"
AWS_ACCESS_KEY = "bucket secret access key"
